name: Release & Publish

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.1

      - name: Create Release if it does not exist
        run: |
          if ! gh release view ${{ github.ref }} > /dev/null 2>&1; then
            gh release create ${{ github.ref }} --title "${{ github.ref }}" --notes "Automated release" 
          else
            echo "Release already exists, skipping."
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1

      - name: Setup Node.js
        uses: actions/setup-node@v4.0.1
        with:
          node-version: "22.x"
          cache: "yarn"

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build
        run: yarn build

      # Publish to npm registry
      - name: Publish to npm
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      # Publish to GitHub Packages
      - name: Setup GitHub Packages
        uses: actions/setup-node@v4.0.1
        with:
          node-version: "22.x"
          registry-url: "https://npm.pkg.github.com"
          scope: "@aminekun90"

      - name: Publish to GitHub Packages
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
